<footer>
  <div class="custom_container">
  <div class="row">
    <div class="col-12 col-md-3">
      <ul>
        <h4>Kateqoriyalar</h4>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
        <li><a href="">Kateqoriya</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-3">
      <ul>
        <h4>Təkliflərimiz</h4>
        <li><a href="">Yeni mehsullar</a></li>
        <li><a href="">Populyar mehsullar</a></li>
        <li><a href="">Tovsiyye edilen mehsullar</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-3">
      <ul>
        <h4>Kömək və xidmətlərimiz</h4>
        <li><a href="">Əsas</a></li>
        <li><a href="">Haqqımızda</a></li>
        <li><a href="">Çatdırılma</a></li>
        <li><a href="">Brendlər</a></li>
        <li><a href="">Əlaqə</a></li>
        <li><a href="">FAQ</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-3 d-flex flex-column footer_last_column">
        <img class="logo_footer" src="./assets/vapeArt_beige_logo.png" alt=""/>
        <a href="" class="mb-3">+994(010) 7777777</a>
        <span>Şikayət və təklifləriniz üçün:</span>
        <a href="">example@gmail.com</a>
        <ul class="d-flex align-items-center justify-content-start footer_social">
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-telegram"></i></a>
          </li>
        </ul>
    </div>
  </div>
</div>
</footer>