@import "./main.css";
@import "./reset.css";
@import "./responsive.css";

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Vazirmatn:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --colorPrimary: #F7703E;
    --colorPrimaryHover: #ffa800;
    --colorDark: #2B2B2B;
    --colorSecondary: hsl(55, 67%, 80%);
    --textPrimary: hsl(0, 0%, 0%);
    --textGrey: #ccc;
    --colorLight: hsl(0, 0%, 100%);
}