{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="d-flex flex-column align-items-center justify-content-center">
      <div class="custom_container_index custom_container row">
          <div class="p-0 col-12 col-md-3">
        <div class="categories">
          <div class="catalogue_sidebar">
            <div class="sidebar_header d-flex align-items-center justify-content-center">
              <i class="fas fa-th"></i>
              <h4 class="mb-0 ms-3">Kateqoriyalar</h4>
            </div>
            {% include 'includes/category_sidebar.html' %}
          </div>
        </div>
        <div class="sidebar_banner d-none d-md-block">
          <img src="{% static 'assets/ac4c729852cee782eea7c106fe5cb118.jpg' %}" alt=""/>
        </div>
    </div>
    <div class="p-0 col-12 col-md-9">
      <section class="section_slider">
<div class="swiper">
  <div class="swiper-wrapper">
    {% for slider in sliders %}
    <div class="swiper-slide" style="background-image: url({{slider.image.url}});">
      <div class="slide_content">
        <h1>{{ slider.title }}</h1>
        <p>{{ slider.description }}</p>
    </div>
    </div>
    {% endfor %}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
</section> 
  <section class="new_products">
  <div class="w-100 main_heading">
    <div class="category_header active">
      <span>Yeni məhsullar</span>
    </div>
    <div class="category_header">
      <span>Populyar məhsullar</span>
    </div>
  </div>
  <div class="row products">
    {% for product in products %}
      <div class="col-12 col-md-4 product_box">
        <a href="{% url 'core:product-detail' product.slug%}" class="prod_img_box">
          
        <img class="prod_img" src="{{product.images.first.image.url}}" alt=""/>
      </a>
        <div class="prod_info">
        <a href="" class="prod_name">{{product.title}}</a>
<span class="prod_ingridients">{{product.description}}</span>
<div class="prod_footer">
  <span class="prod_price">{{product.price}} <i class="fa-solid fa-manat-sign"></i></span>
  <button class="add_cart">Səbətə at</button>
</div>
      </div>
      </div>
      {% endfor %}
      <div class="col-12 col-md-4 product_box load_box">
        <a href="{% url 'core:products' %}" class="product_box load_box">
        <i class="fa-solid fa-plus"></i>
        <span>Daha Coxuna baxin...</span>
      </a>
      </div>
    </div>
  </section>
  <section class="new_categories">
    <div class="w-100 main_heading">
      <div class="category_header">
        <span>Populyar kateqoriyalar</span>
      </div>
    </div>
    <div class="row new_categories_section">
      {% for category in categories %}
      <div class="col-12 col-md-3 tabloid">
          <a href="/" class="picture">
            <i class="fa-solid fa-smoking"></i></a>
<a href="/" class="name">{{category.title}}</a>
      </div>
      {% endfor %}
    </div>
  </section>
  <section class="popular_brands">
    <div class="w-100 main_heading">
      <div class="category_header">
        <span>Populyar brendlər</span>
      </div>
    </div>
    <div class="row popular_brands_section">
      {% for brand in brands %}
      <div class="col-12 col-md-3 tabloid brand_box">
          <a href="/" class="picture">
<img class="brand_img" style="width: 80px;" src="{{brand.image.url}}" alt=""/>
          </a>
      </div>
      {% endfor %}
      </div>
    </section>
    <section class="main_about">
      <p class="vape_art">Vape Art haqqında</p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.      </p>
    </section>
  </div>
  <div class="col-12 mb-5">
    <div class="w-100">
      <h1 class="related_products">Tövsiyə olunanlar</h1>
      <div class="row related swiper">
        <div class="swiper-wrapper">
        {% for product in products %}
      <div class="swiper-slide product_box">
        <a href="{% url 'core:product-detail' product.slug%}" class="prod_img_box">
        <img class="prod_img" src="{{product.images.first.image.url}}" alt=""/>
      </a>
        <div class="prod_info">
        <a href="" class="prod_name">{{product.title}}</a>
<span class="prod_ingridients">{{product.description}}</span>
<div class="prod_footer">
  <span class="prod_price">{{product.price}} <i class="fa-solid fa-manat-sign"></i></span>
  <button class="add_cart">Səbətə at</button>
</div>
      </div>
      </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev related_button"></div>
  <div class="swiper-button-next related_button"></div>
    </div>
    </div>
  </div>
    </main>
{% endblock %}

{% block js %}
<script>
  $(function () {
      const swiper = new Swiper('.swiper', {
direction: 'horizontal',
loop: true,
navigation: {
  nextEl: '.swiper-button-next',
  prevEl: '.swiper-button-prev',
}
});
  })
</script>




<script>
$(function () {
    const swiper = new Swiper('.related', {
direction: 'horizontal',
loop: true,
autoplay: {
        delay: 2500,
        disableOnInteraction: true,
      },
slidesPerView: 4,
spaceBetween: 0,
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},
breakpoints: {
        360: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 0,
        },
        820: {
          slidesPerView: 4,
          spaceBetween: 0,
        },
      },
});
})
</script>
{% endblock %}