{% extends 'base.html' %}
{% load static %}


{% block content %}
    <main class="d-flex flex-column align-items-center justify-content-center">
      <div class="custom_container row">
        <div class="col-12 col-md-3">
          <div class="categories about_left">
            <div class="catalogue_sidebar">
              <div
                class="sidebar_header d-flex align-items-center justify-content-center"
              >
                <i class="fas fa-th"></i>
                <h4 class="mb-0 ms-3">Kateqoriyalar</h4>
              </div>
              {% include 'includes/category_sidebar.html' %}
            </div>
          </div>
          <div class="product_filter">
            <h4 class="filter_heading">Filter</h4>
            <ul class="filter_main_body">
              <li>
                  <fieldset class="filter-price">
                    <div class="price-field">
                      <input type="range" min="100" max="500" value="135" id="lower">
                      <input type="range" min="100" max="500" value="500" id="upper">
                    </div>
                    <div class="price-wrap">
                      <span class="price-title">Filter</span>
                      <div class="price-container">
                        <div class="price-wrap-1">
                          <label for="one">$</label>
                          <input id="one">
                        </div>
                        <div class="price-wrap_line">-</div>
                        <div class="price-wrap-2">
                          <label for="two">$</label>
                          <input id="two">
                        </div>
                      </div>
                    </div>
                  </fieldset>
              </li>
              <li class="lvl1 kombox-closed filter-stable-width" data-id="1" >
                <div class="kombox-filter-property-head filter_head"
                data-id="1">
                  <span class="kombox-filter-property-name">Brend</span>
                </div>
                
                {% for brand in brands %}
                <div
                  class="kombox-combo kombox-filter-property-body filter_body"
                  data-id="1"
                >
                
                  <div class="kombox_sub">
                    <input
                      class="filter_checkbox"
                      type="checkbox"
                      value="asmodus"
                      name=""
                      id=""
                    />
                    <label for="">
                      <a class="no_a" href=""></a>
                      {{brand.title}} <span class="kombox-cnt">(1)</span>
                    </label>
                  </div>
                  
                </div>
                {% endfor %}
                
              </li>
            </ul>
          </div>
          <div class="sidebar_banner d-none d-md-block">
            <img src="" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="row subcategory_row">
            <div class="breadcrumbs w-100">
              <a href="/">Main page</a>
              <a href="/">This page (category or subcategory)</a>
            </div>
            <div class="row new_categories_section">
              {% for category in categories %}
              <div class="col-6 col-md-3 tabloid">
                <a href="{% url 'core:products' %}?category={{category.title}}" class="picture">
                  <i class="fa-solid fa-smoking"></i
                ></a>
                <a href="{% url 'core:products' %}?category={{category.title}}" class="name">{{category.title}}</a>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="row products products_prod">
            {% for product in products %}
            <div class="col-12 col-md-3 product_box">
              <a href="{% url 'core:product-detail' product.slug%}" class="prod_img_box">
                <img
                  class="prod_img"
                  src="{{product.images.first.image.url}}"
                  alt=""
                />
              </a>
              <div class="prod_info">
                <a href="" class="prod_name"
                  >{{product.title}}</a
                >
                <span class="prod_ingridients">{{product.description}}</span>
                <div class="prod_footer">
                  <span class="prod_price"
                    >500 <i class="fa-solid fa-manat-sign"></i
                  ></span>
                  <button class="add_cart">Add to cart</button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-12 mb-5">
          <div class="w-100">
            <h1 class="related_products">Tövsiyə olunanlar</h1>
            <div class="row related swiper">
              <div class="swiper-wrapper">
            
            {% for product in products %}
            <div class="swiper-slide product_box">
              <a href="/" class="prod_img_box">
              <img class="prod_img" src="{{ product.images.first.image.url }}" alt=""/>
            </a>
              <div class="prod_info">
              <a href="" class="prod_name">Neque porro quisquam est qui dolorem ipsum quia</a>
      <span class="prod_ingridients">est qui dolorem ipsum quia </span>
      <div class="prod_footer">
        <span class="prod_price">500 <i class="fa-solid fa-manat-sign"></i></span>
        <button class="add_cart">Səbətə at</button>
      </div>
            </div>
            </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev related_button"></div>
        <div class="swiper-button-next related_button"></div>
          </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
